body {
    text-align: center;
}

table {
    border: 2px black solid;
    border-collapse: separate;
    background-color: antiquewhite;
}

caption {
    padding-bottom: 10px;
}

th {
    padding: 10px;
    border: 1px rgb(135, 135, 135) solid;
    background-color: rgb(255, 215, 160);
}

td {
    border: 1px rgb(135, 135, 135) solid;
    padding: 10px;
}