body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background-color: rgb(11, 11, 11);
    color: aliceblue;
}
body h1 {
    width: 50%;
    border-radius: 30px;
    padding: 25px 50px;
    -webkit-box-shadow: 0 0 25px fuchsia;
    box-shadow: 0 0 25px fuchsia;
}
body .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
}
body .main-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 25px 25px 25px;
}
body .main-container .container img {
    width: 300px;
    border: 1px black solid;
    border-radius: 30px;
    margin-bottom: 25px;
}
body .main-container .container p {
    padding: 10px 0;
    border: 1px black solid;
    border-radius: 30px;
    font-size: 20px;
}
body .main-container .container .first {
    -webkit-box-shadow: 0 0 25px yellow;
    box-shadow: 0 0 25px yellow;
}
body .main-container .container .second {
    -webkit-box-shadow: 0 0 25px aqua;
    box-shadow: 0 0 25px aqua;
}