body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	background-color: gray;
	text-align: center;
}

.page-body{
	display: table;
	width: 100%;
	height: 100%;
	background-color: white;
}

header{
	display: table;
	width: 100%;
	height: 100%;
	background-color:  rgb(184, 212, 142);
}

.h {
	display: table-cell;
	color: aliceblue;
	font-size: 25px;
}

#l {
	width: 20%;
	padding: 4% 10%;
	padding-bottom: 20%;
}

#r {
	width: 40%;
	padding-left: 5%;
}

.fragment {
	background-color: rgb(152, 173, 93);
	width: 75%;
	float: right;
	margin-top: -12%;
}

#fi {
	width: 630px;
	float: right;
}

#ft {
	text-align: left;
	color: aliceblue;
	position: relative;
	font-size: 25px;
	margin-top: -8.5%;
	margin-left: 20%;
}

#fb {
	background-color: aliceblue;
	position: relative;
	width: 200px;
	height: 80px;
	margin-top: 4%;
	margin-left: 35%;
}

footer{
	display: table;
	width: 96%;
	color: aliceblue;
	background-color: rgb(36, 36, 36);
	padding: 2%;
}

main{
	display: table;
	width: 100%;
	height: 100%;
}

.box{
	display: table-cell;
	width: 50%;	
}

.last-types {
	font-size: 27px;
	font-weight: 600;
	padding: 7% 0% 2.5% 10%;
}

.example {
	display: table;
	margin: 0% 12% 4% 10%;
}

.description {
	display: table-cell;
	color: rgb(110, 110, 110);
	font-size: 24px;
	padding-left: 20%;
	vertical-align: middle;
}

.square {
	display: table-cell;
	width: 222px;
}

.podcast {
	font-size: 24.5px;
	font-weight: 600;
	padding: 6% 28%;
}

.t {
	display: table-row;
}

.playlists {
	display: table;
	margin: 10%;
	width: 120%;
	font-size: 27px;
	font-weight: 600;
}

.foot {
	display: table-cell;
	font-size: 20px;
}